@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=beVietnam-pro@2,1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    font-family: "Satoshi", sans-serif;
}

main.layout {
    display: grid;
    grid-template-areas:
        "nav header"
        "side content";
    grid-template-rows: 65px calc(100vh - 65px);
    grid-template-columns: max-content auto;

    @apply w-screen h-screen
}

nav.layout {
    grid-area: nav;
}

header.layout {
    grid-area: header;
}

aside.layout {
    grid-area: side;
}

section.layout {
    grid-area: content;
    height: calc(100vh - 65px);
}

.router-link-active {
    @apply bg-primary-100 text-primary-600
}

::selection {
    @apply text-primary-600 bg-primary-100
}

::-webkit-scrollbar {
    @apply hidden
}