@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=beVietnam-pro@2,1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    font-family: "Satoshi", sans-serif;
}

main.layout {
    display: grid;
    grid-template-areas:
        "side content";
    grid-template-rows: 100vh;
    grid-template-columns: max-content auto;

    @apply w-screen h-screen
}

aside.layout {
    grid-area: side;
}

section.layout {
    grid-area: content;
}

.router-link-active {
    @apply bg-primary-100/25 text-primary-600
}

::selection {
    @apply bg-primary-100/25 text-primary-600
}

::-webkit-scrollbar {
    @apply hidden
}